<header>
  <nav class="navbar">
    <div class="header-nav-container container-fluid">
      <a class="navbar-brand">
        <img src="/images/logo.png" width="30" height="36" alt="" />
      </a>
      <div class="navbar-right">
        <form class="navbar-form d-flex" role="search">
          <input
            class="navbar-search form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-primary" style="padding: 6px;" type="submit">
            <span class="material-symbols-outlined d-block text-white">
              search
            </span>
          </button>
        </form>
        <a href="#" class="nav-link">
          <span class="material-symbols-outlined d-block text-primary navbar-profile-icon">
            account_circle
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
