<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Do Tung Lam 
        Hoang Nguyen Nhat Minh
        Loi Gia Long 
        Ngo Ngoc Thinh
        Vu Tuan Linh
ID:     Do Tung Lam (s3963286)
        Hoang Nguyen Nhat Minh (s3977856)
        Loi Gia Long (s3758273)
        Ngo Ngoc Thinh (s3879364)
        Vu Tuan Linh (s3927502)
Acknowledgement: 
Bootstrap documentation: https://getbootstrap.com/ 
Bootstrap icon: https://icons.getbootstrap.com/
Google icon: https://fonts.google.com/icons
Pexels: https://www.pexels.com/
Canva: https://www.canva.com/ -->
<div class="footer container-fluid indent w-100 mt-auto">
  <footer class="d-flex flex-wrap justify-content-between align-items-center indent py-2">
    <p class="col-md-6 col-12 d-flex mb-0 text-white justify-content-md-start justify-content-center">© 2023 Company, Inc</p>  
    <ul class="nav col-md-6 col-12 justify-content-md-end justify-content-center">
      <li class="nav-item"><a href="/about-us" class="nav-link text-white">About us</a></li>
      <li class="nav-item"><a href="/privacy" class="nav-link text-white">Privacy</a></li>
      <li class="nav-item"><a href="/about-us" class="nav-link text-white">Copyright</a></li>
      <li class="nav-item"><a href="/about-us" class="nav-link text-white">Help</a></li>
    </ul>
  </footer>
</div>
<script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
