<header>
    <div class="header px-3 py-2 bg-dark text-white">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="nav-element d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <div class="logo">
                    <img src="./images/logo.png" width="50" height="50" alt="">
                </div>
            </a>
            <ul class="nav-element nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                    <a href="#" class="nav-link text-white">
                    <span class="material-symbols-outlined d-block mb-1 text-center">
                        home
                    </span>
                    Home
                    </a>
                </li>
                </li>
                <li>
                    <a href="vendor-add-new-product.ejs" class="nav-link text-white">
                    <span class="material-symbols-outlined d-block mb-1 text-center">
                        tab_new_right
                    </span>
                    Add new products
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                    <span class="material-symbols-outlined d-block mb-1 text-center">
                        account_circle
                    </span>
                    Customers
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
