<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Do Tung Lam 
        Hoang Nguyen Nhat Minh
        Loi Gia Long 
        Ngo Ngoc Thinh
        Vu Tuan Linh
ID:     Do Tung Lam (s3963286)
        Hoang Nguyen Nhat Minh (s3977856)
        Loi Gia Long (s3758273)
        Ngo Ngoc Thinh (s3879364)
        Vu Tuan Linh (s3927502)
Acknowledgement: 
Bootstrap documentation: https://getbootstrap.com/ 
Bootstrap icon: https://icons.getbootstrap.com/
Google icon: https://fonts.google.com/icons
Pexels: https://www.pexels.com/
Canva: https://www.canva.com/ -->
<header>
    <div class="header px-0 text-white">
        <div class="indent vendor-header d-flex flex-wrap align-items-center justify-content-md-between justify-content-center justify-content-lg-start ">
            <!-- Logo -->
            <a href="/" class="nav-element col-md-auto col-12 d-flex justify-content-md-start justify-content-center align-items-center my-md-3 my-0 my-lg-0 me-lg-auto py-2 text-white text-decoration-none">
                <div class="logo fs-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-paypal" viewBox="0 0 16 16">
                        <path d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.351.351 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91.379-.27.712-.603.993-1.005a4.942 4.942 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.687 2.687 0 0 0-.76-.59l-.094-.061ZM6.543 8.82a.695.695 0 0 1 .321-.079H8.3c2.82 0 5.027-1.144 5.672-4.456l.003-.016c.217.124.4.27.548.438.546.623.679 1.535.45 2.71-.272 1.397-.866 2.307-1.663 2.874-.802.57-1.842.815-3.043.815h-.38a.873.873 0 0 0-.863.734l-.03.164-.48 3.043-.024.13-.001.004a.352.352 0 0 1-.348.296H5.595a.106.106 0 0 1-.105-.123l.208-1.32.845-5.214Z"/>
                    </svg>
                    <strong class="logo-name"><i>PayMe</i></strong>
                </div>
            </a>
            <!-- Logo -->
            <!-- Nav bar -->
            <ul class="nav-element navigation-button h-100 nav col-lg-auto p-x-2 justify-content-center my-md-0 fs-5 medium">
                <li>
                    <a href="/" class="nav-link text-white d-flex justify-content-center py-3 fw-semibold">
                    Home
                    </a>
                </li>
                <li>
                    <a href="/product/add" class="nav-link text-white d-flex justify-content-center py-3 fw-semibold">
                    Add Product
                    </a>
                </li>
                <li>
                    <a href="/profile" class="nav-link text-white d-flex justify-content-center py-3 fw-semibold">
                    My Account
                    </a>
                </li>
            </ul>
            <!-- Nav bar -->
        </div>
    </div>
</header>
