<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Do Tung Lam 
        Hoang Nguyen Nhat Minh
        Loi Gia Long 
        Ngo Ngoc Thinh
        Vu Tuan Linh
ID:     Do Tung Lam (s3963286)
        Hoang Nguyen Nhat Minh (s3977856)
        Loi Gia Long (s3758273)
        Ngo Ngoc Thinh (s3879364)
        Vu Tuan Linh (s3927502)
Acknowledgement: 
Bootstrap documentation: https://getbootstrap.com/ 
Bootstrap icon: https://icons.getbootstrap.com/
Google icon: https://fonts.google.com/icons
Pexels: https://www.pexels.com/
Canva: https://www.canva.com/ -->

<%- include ("./partials/head.ejs") %>
<%- include ("./partials/guest-header.ejs") %>
<body>
    <div class="hero-section carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/about-us-banner.png" class="d-block w-100" height="600px">
            <div class="carousel-caption d-block">
              <h1>About Us</h1>
              <p>Discover the story behind our e-commerce platform</p>
            </div>
          </div>
        </div>
    </div>
    <!-- Main content -->
    <main class="row w-100 m-0 indent d-flex xalign-items-md-start justify-content-md-center mt-5">
        <div class="product-display row w-100 mb-5 mx-0 p-0 gx-5 d-flex justify-content-md-start justify-content-center">
          <h4 class="ps-0"><strong>Introduction</strong></h4>
          Welcome to PayMe, your one-stop destination for premium quality products, seamlessly connecting customers to a world of unique discoveries and excellent service. Since our inception in 2023, we've been devoted to making online shopping a hassle-free, enjoyable experience. Our diverse, global team is committed to providing you with an array of exceptional products that cater to a multitude of tastes and preferences.
          <br>
          <br>
          <br>
          <h4 class="ps-0"><strong>Our Story:</strong></h4>
          At PayMe, we believe in the power of choice and the freedom to shop without borders. We embarked on this journey with a clear vision: to transform the online retail landscape by offering an unparalleled selection of products, all in one place. Our founder, Team, started PayMe from a small garage and with a strong belief in quality, value, and customer satisfaction, it quickly grew into the thriving e-commerce platform it is today.
          <br>
          <br>
          <br>
          <h4 class="ps-0"><strong>Our Mission:</strong></h4>
          Our mission is simple: To make shopping a delight, not a duty. We strive to offer not just products, but experiences, inspirations, and solutions that make life easier and more enjoyable. We're committed to providing a user-friendly, secure online shopping platform where our customers can shop with confidence and peace of mind.
          <br>
          <br>
          <br>
          <h4 class="ps-0"><strong>Our Products:</strong></h4>
          We're proud to offer a wide array of high-quality products across a range of categories, from electronics and fashion to home goods and much more. Every item we list is carefully selected by our dedicated product team, ensuring that we offer only the very best to our customers.
          <br>
          <br>
          <br>
          <h4 class="ps-0"><strong>Our Promise:</strong></h4>
          At PayMe, we promise to uphold the highest standards of service and support. We ensure a seamless shopping experience with easy navigation, a smooth checkout process, and prompt delivery. And if you ever have any questions or concerns, our dedicated customer service team is always ready to assist.
          <br>
          <br>
          We invite you to join us on this journey of discovery and inspiration. Shop with us today and experience the PayMe difference. We can't wait to serve you!
          <br>
          <br>
          Thank you for choosing PayMe - where quality meets convenience.
        </div>   
    </main>
    <!-- Main content -->
    <%- include ('./partials/footer.ejs') %>
</body>
</html>
