<h1>Customer register Page</h1>
<form method="POST" action="/customer/register">
  Enter Username:
  <br />
  <input type="text" name="username" />
  <br />
  <br />

  Enter Password:<br /><input type="password" name="password" />
  <br />
  <br />

  <input type="submit" value="Submit" />
  <br />
  <br />

  <a href="/login">Back to login</a>
</form>
