<h1>Login Page</h1>
<form method="POST" action="/login">
  Enter Username:
  <br />
  <input type="text" name="username" />
  <br />
  Enter Password:
  <br />
  <input type="password" name="password" />
  <br />
  <br />
  <input type="submit" value="Submit" />
  <br />
  <a href="/shipper/register">Register as shipper</a>
  <br />
  <a href="/customer/register">Register as customer</a>
  <br />
  <a href="/vendor/register">Register as vendor</a>
</form>
