<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Do Tung Lam 
        Hoang Nguyen Nhat Minh
        Loi Gia Long 
        Ngo Ngoc Thinh
        Vu Tuan Linh
ID:     Do Tung Lam (s3963286)
        Hoang Nguyen Nhat Minh (s3977856)
        Loi Gia Long (s3758273)
        Ngo Ngoc Thinh (s3879364)
        Vu Tuan Linh (s3927502)
Acknowledgement: 
Bootstrap documentation: https://getbootstrap.com/ 
Bootstrap icon: https://icons.getbootstrap.com/
Google icon: https://fonts.google.com/icons
Pexels: https://www.pexels.com/
Canva: https://www.canva.com/ -->

<%- include ("./partials/head.ejs") %>
<%- include ("./partials/static-header.ejs") %>
<body>
    <div class="hero-section carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/privacy-banner.png" class="d-block w-100" height="600px">
            <div class="carousel-caption d-block">
              <h1>Privacy Policy</h1>
              <p>Our commitment to safeguarding your personal information.</p>
            </div>
          </div>
        </div>
    </div>
    <!-- Main content -->
    <main class="row w-100 m-0 indent d-flex xalign-items-md-start justify-content-md-center mt-5">
        <div class="product-display row w-100 mb-5 mx-0 p-0 gx-5 d-flex justify-content-md-start justify-content-center">
            <h4 class="ps-0"><strong>Introduction</strong></h4>
            We at PayMe are committed to protecting your privacy. This policy outlines how we collect, use, disclose, and safeguard your information when you visit our e-commerce platform. Please read this policy carefully. By using our platform, you are accepting the practices described in this policy.
            <br>
            <br>
            <h4 class="ps-0"><strong>Information We Collect</strong></h4>
            We may collect information about you in a variety of ways:
            <br>
            <br>
            <ol>
                <li>
                    <strong>Personal Data:</strong> This includes any information that allows us to identify you, such as your name, email address, phone number, and shipping address.
                </li>
                <br>
                <li>
                    <strong>Payment Information:</strong> To facilitate transactions, we collect and store payment details, including credit card numbers and billing addresses.
                </li>
                <br>
                <li>
                    <strong>Usage Data:</strong> This includes information about your interaction with our platform, such as the pages you visit, the time and duration of your visit, and the products you view.
                </li>
            </ol>
            <br>
            <h4 class="ps-0"><strong>How We Use Your Information</strong></h4>
            We may use the information we collect from you to:
            <br>
            <br>
            <ol>
                <li>
                    We may use the information we collect from you to:
                </li>
                <li>
                    Improve, personalize, and expand our e-commerce platform.
                </li>
                <li>
                    Understand and analyze how you use our e-commerce platform.
                </li>
                <li>
                    Develop new products, services, features, and functionality.
                </li>
                <li>
                    Communicate with you, including for customer service, to provide you with updates and other information relating to the platform, and for marketing and promotional purposes.
                </li>
            </ol>
            <br>
            <h4 class="ps-0"><strong>How We Share Your Information</strong></h4>
            We do not sell, trade, or rent your personal information to third parties. We may share information with third parties when necessary to process your orders, deliver products or services, or comply with legal obligations.
            <br>
            <br>
            <br>
            <h4 class="ps-0"><strong>Security of Your Information</strong></h4>
            We use administrative, technical, and physical security measures to protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable.
        </div> 
    </main>
    <!-- Main content -->
    <%- include ('./partials/footer.ejs') %>
</body>
</html>
