<%- include('./partials/head.ejs') %>
<main class= "indent">
    <section>
        <h2 class="text-center my-5 fs-1">View Your Orders</h2>
    </section>
    <div class="alert alert-primary text-center" role="alert">
        Your haven't ordered anything yet! Explore our products at <a href="/" class="d-inline link-underline">our homepage</a> !
      </div>
</main>

    <%- include('./partials/footer.ejs') %>