<h1>Vendor register Page</h1>
<form method="POST" action="/vendor/register">
  Enter Username:
  <br />
  <input type="text" name="username" />
  <br />
  <br />

  Enter Password:
  <br />
  <input type="password" name="password" />
  <br />
  <br />

  Business name:
  <br />
  <input type="text" name="businessname" />
  <br />
  <br />

  Business address:
  <br />
  <input type="text" name="businessaddress" />
  <br />
  <br />

  <br />
  <input type="submit" value="Submit" />
  <br />
  <br />

  <a href="/login">Back to login</a>
</form>
