<%- include ("../partials/head.ejs") %>
<body>
    <%- include ("../partials/shipper-header.ejs") %>
    <!-- Main content -->
    <main class= "indent">
        <div class="ordered-items-container container px-5 mt-5 mb-5 bg-white shadow rounded rounded-4 border border-1">
            <div class="ordered-items-header py-3 d-flex justify-content-start">
                <div class="title product">
                    <h3>Order<span class="text-secondary ps-3">#6709</span></h3>
                </div>
            </div>
            <div class="product-list border-top border-bottom py-3">
                <div class="product row w-100 mx-0 py-3 d-flex justify-content-between">
                    <div class="product-image col-md-2 col-4 py-3 px-0 border rounded rounded-4">
                        <img src="/images/product.png">
                    </div>
                    <div class="col-md-5 col-7 d-flex flex-column justify-content-center">
                        <div class="product-name fs-lg-5 fs-6 bold">Radish roduct-quantity mb-3 d-flex justify-content-between align-items-center</div>
                    </div>
                    <div class="quantity col-md-1 col-2 d-flex fs-lg-5 fs-6 mt-md-0 mt-2 justify-content-start align-items-center text-secondary">
                        <div class="border px-3 py-1">1</div>
                    </div>
                    <div class="equation col-md-2 col-6 d-flex fs-lg-5 fs-6 mt-md-0 mt-2 justify-content-start align-items-center">
                        <div class="pe-lg-3 pe-1">$1.50</div> x <div class="ps-lg-3 ps-1">1</div>
                    </div>
                    <div class="price col-md-1 col-2 p-0 bold d-flex fs-lg-5 fs-6 mt-md-0 mt-2 justify-content-end align-items-center">
                        $1.50
                    </div>
                </div>
                <div class="product row w-100 mx-0 py-3 d-flex justify-content-between">
                    <div class="product-image col-md-2 col-4 py-3 px-0 border rounded rounded-4">
                        <img src="/images/product.png">
                    </div>
                    <div class="col-md-5 col-7 d-flex flex-column justify-content-center">
                        <div class="product-name fs-lg-5 fs-6 bold">Radish roduct-quantity mb-3 d-flex justify-content-between align-items-center</div>
                    </div>
                    <div class="quantity col-md-1 col-2 d-flex fs-lg-5 fs-6 mt-md-0 mt-2 justify-content-start align-items-center text-secondary">
                        <div class="border px-3 py-1">1</div>
                    </div>
                    <div class="equation col-md-2 col-6 d-flex fs-lg-5 fs-6 mt-md-0 mt-2 justify-content-start align-items-center">
                        <div class="pe-lg-3 pe-1">$1.50</div> x <div class="ps-lg-3 ps-1">1</div>
                    </div>
                    <div class="price col-md-1 col-2 p-0 bold d-flex fs-lg-5 fs-6 mt-md-0 mt-2 justify-content-end align-items-center">
                        $1.50
                    </div>
                </div>
                <div class="product row w-100 mx-0 py-3 d-flex justify-content-between">
                    <div class="product-image col-md-2 col-4 py-3 px-0 border rounded rounded-4">
                        <img src="/images/product.png">
                    </div>
                    <div class="col-md-5 col-7 d-flex flex-column justify-content-center">
                        <div class="product-name fs-lg-5 fs-6 bold">Radish roduct-quantity mb-3 d-flex justify-content-between align-items-center</div>
                    </div>
                    <div class="quantity col-md-1 col-2 d-flex fs-lg-5 fs-6 mt-md-0 mt-2 justify-content-start align-items-center text-secondary">
                        <div class="border px-3 py-1">1</div>
                    </div>
                    <div class="equation col-md-2 col-6 d-flex fs-lg-5 fs-6 mt-md-0 mt-2 justify-content-start align-items-center">
                        <div class="pe-lg-3 pe-1">$1.50</div> x <div class="ps-lg-3 ps-1">1</div>
                    </div>
                    <div class="price col-md-1 col-2 p-0 bold d-flex fs-lg-5 fs-6 mt-md-0 mt-2 justify-content-end align-items-center">
                        $1.50
                    </div>
                </div>
            </div>
            <div class="ordered-items-footer my-2">
                <div class="product row w-100 mx-0 py-3 d-flex justify-content-between">
                    <div class="col-md-2 status-update-up">
                        <form method="" action="" class="status-update d-flex justify-content-start">
                            <button type="submit" value="delivered" class="delivered me-4 border border-0">Deliverd</button>
                            <button type="submit" value="canceled" class="canceled border border-0">Canceled</button>
                        </form>
                    </div>
                    <div class="col-md-5 col-0">
                    </div>
                    <div class="col-md-1 col-0">
                    </div>
                    <div class="fee col-2 bold d-flex fs-lg-5 fs-6 justify-content-start align-items-center">
                        Total
                    </div>
                    <div class="price col-md-1 col-3 bold d-flex fs-lg-5 fs-6 justify-content-end align-items-center">
                        $20.50
                    </div>
                    <div class="w-100 pt-4 status-update-down">
                        <form method="" action="" class="status-update d-flex justify-content-end">
                            <button type="submit" value="canceled" class="canceled me-4 border border-0">Canceled</button>
                            <button type="submit" value="delivered" class="delivered border border-0">Delivered</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="customer-detail container px-5 mt-5 pb-3 mb-5 bg-white shadow rounded rounded-4 border border-1">
            <div class="ordered-items-header d-flex justify-content-between">
                <div class="title">
                    <h3 class="py-3">Customer Details</h3>
                </div>
            </div>
            <div class="info-list border-top pt-3">
                <div class="product row w-100 mx-0 py-3">
                    <div class="row d-flex justify-content-start">
                        <i class="order-icon bi bi-person-fill ps-0 pt-md-0 pe-4"></i>
                        <div class="customer-name fs-md-5 fs-6 p-0">Hoang Nguyen Nhat Minh</div>
                    </div>
                    <div class="row d-flex justify-content-start">
                        <i class="order-icon bi bi-geo-alt-fill ps-0 pt-md-0 pe-4"></i>
                        <div class="customer-destination fs-md-5 fs-6 p-0">10 street 3 Cityland Garden Hills ward 5 Go Vap district Ho Chi Minh City</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Main content -->
    <%- include ('../partials/footer.ejs') %>
</body>
</html>
