<%- include ("../partials/head.ejs") %> <%- include ("../partials/customer-header.ejs") %>

<body>
  <!-- Main content -->
  <main class="body-container my-5">
    <!-- Product Info -->
    

    <!-- Product Description -->
  </main>
  <%- include ('../partials/footer.ejs') %>
</body>
</html>
